<h2>Your Search Result</h2>
<%= link_to "Back to all movies", movies_path %><br/>
<hr>
<% if @moviess %>
  <% @movies.each do |movie| %>
    <%= render 'movies', movie: movie %>
  <% end %>
<% else %>
  <p>
    No Movies found with title of director <%= @search %>
  </p>
<% end %>
